# Virtual environments
.venv/

# Python build artifacts
dist/
build/
*.egg-info/

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# IDE
.vscode/*
!.vscode/tasks.json

# pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
